name: build
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK (java18)
        uses: actions/setup-java@v3
        with:
          java-version: 18
          distribution: corretto

      - name: Publish to GitHub Packages Apache Maven
        run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} mvn -B -s settings.xml deploy -e
